---
title: Declare App Dependencies
owner: Konstantinos Karampogias
---

<strong><%= modified_date %></strong>

The idea of deploying as a binary is to avoid having to carry or download any dependencies.
Dependencies should be handled locally as usual.

<div style="text-align:center;margin:3em;">
  <a href="./run-locally.html" class="btn btn-primary">I've installed the App dependencies locally</a>
</div>
