---
title: Declare App Dependencies
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

The idea of deploying your app as a binary is to avoid having to carry or download any dependencies.
Therefore, you'll need to handle dependencies only on your local machine.

<div style="text-align:center;margin:3em;">
  <a href="./run-locally.html" class="btn btn-primary">I've installed the App dependencies locally</a>
</div>
