---
title: Introduction
owner: Konstantinos 
---

<strong><%= modified_date %></strong>

This tutorial will have you deploying a Web Application base on go  in minutes.

Hang on for a few more minutes to learn how it all works, so you can make the most out of <%= vars.product_full %>.

The tutorial assumes that you have:

* An <a href="https://console.developer.swisscom.com" target="_blank"><%= vars.product_short %> account</a>
* A <a href="https://golang.org/doc/install" target="_blank">golang development.
* Docker for localtesting

Furthermore, you must have a first Cloud Foundry <a href="../concepts/roles.html#orgs" target="_blank">Organization</a> and <a href="../concepts/roles.html#spaces" target="_blank">Space</a> to push your apps to. In case you don't have that yet, please follow the <a href="https://console.developer.swisscom.com" target="_blank">tutorials in the web console</a> before returning here.


We will deploy using binary approach because
1. dependencies (we do not need to download or upload the)
2. size of deployment is small
3. direct approach how is working

<div style="text-align:center;margin:3em;">
  <a href="./set-up.html" class="btn btn-primary">I'm ready to start</a>
</div>
