---
title: Prepare the App
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ go get github.com/swisscom/cf-sample-app-go
$ cd "$GOPATH"/src/github.com/swisscom/cf-sample-app-go
</pre>

You now have a functioning git repository that contains a simple <a href="https://golang.org/" target="_blank">Go</a> application as well as a `glide.yaml` file, which is used by our dependency manager <a href="https://github.com/Masterminds/glide" target="_blank">Glide</a>.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
