---
title: Prepare the App
owner: Konstantinos
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">

#ensure $GOPATH is set up correctly
$go get  github.com/swisscom/cf-sample-app-go.git (?)
cd  $GOPATH/github.com/swisscom/cf-sample-app-go.git
</pre>

You now have a git repository that contains a minimal web application.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
