---
title: Prepare the App
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ go get -d github.com/swisscom/cf-sample-app-go
$ cd "${GOPATH}/src/github.com/swisscom/cf-sample-app-go"
</pre>

You now have a functioning git repository that contains a simple Go application as well as a `glide.yaml` file, which is used by our dependency manager <a href="https://github.com/Masterminds/glide" target="_blank">Glide</a>.

In case you are using <a href="https://github.com/golang/dep" target="_blank">dep</a>, here is an example:

<pre class="terminal">
$ go get -d github.com/swisscom/cf-sample-app-go-dep
$ cd "${GOPATH}/src/github.com/swisscom/cf-sample-app-go-dep"
</pre>

<p class="note">
  <strong>Note</strong>: In case you are stuck during the tutorial, you can always check out the <a href="https://github.com/swisscom/cf-sample-app-go/tree/final-result" target="_blank"><code>final-result</code></a> branch of the sample app repo to see what your code should look like.
</p>

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
