---
title: Push Local Changes
owner: Konstantinos Karampogias
---

<strong><%= modified_date %></strong>

In this step you’ll learn how to propagate a local change to the application to <%= vars.product_full %>. 
As a simple change, we’ll modify the title which the app shows.
Change the return value of the `defaultHandler` in our `main.go` file

<pre class="terminal">
$ sed -i.bak 's/Swisscom/awesome/g' main.go
--$ diff main.go*
31c31
<       fmt.Fprintln(w, "hello awesome cloud!")
---
>       fmt.Fprintln(w, "hello Swisscom cloud!")
</pre>

Now apply the change locally and test the result:
<pre class="terminal">
$ GOARCH=amd64 GOOS=linux go build -ldflags "-X main.buildstamp=`date '+%Y-%m-%d_%H:%M:%S'` -X main.githash=`git rev-parse HEAD`" -o ./bin/gocf
$ docker run -v $GOPATH/src/github.com/swisscom/cf-sample-app-go/bin:/opt/bin  --env-file ./cf.env -p 4000:4000  -it cloudfoundry/cflinuxfs2 /opt/bin/gocf
2016/04/22 12:56:51 Listening at 4000
$ curl localhost:4000
hello awesome cloud!
</pre>

If everything is okay, we deploy in the cloud. 
All you need to do is cf push again:
<pre class="terminal">
$ cf push my-go-app -m 128M -n my-random-hostname -b binary_buildpack -c './bin/gocf'
</pre>

Finally, check that everything is working by visiting your app's URL from your web browser.

<div style="text-align:center;margin:3em;">
  <a href="./environment.html" class="btn btn-primary">I can push local changes</a>
</div>
